.card-container{
    margin: 1rem;
    /* background-color: blue; */
    display: flex;
    overflow:scroll;
    scrollbar-width: none;
    
    
}

.card-general-title{
    margin: 1rem;
    padding: 0.5rem;
}